
.toolbar .divider {
    min-height: 1rem;
}

.toolbar .control {
    min-width: 6rem;
    margin-bottom: 4px;

    background-color: var(--toolbar-button-color);
    color: white;

    border: 1px solid var(--toolbar-button-color);
    border-radius: 4px;

    display: flex;
}

.toolbar > * {
    vertical-align: center;
}

.toolbar .control button {
    background-color: var(--toolbar-button-color);
    color: white;

    border: 0;
}

.toolbar .control select {
    background-color: var(--toolbar-button-color);
    color: white;

    border: 0;
}

.toolbar .control input[type="color"] {
    background-color: var(--toolbar-button-color);
    color: white;

    border: 0;                    
}

.toolbar .control.selected,
.toolbar .control.selected button,
.toolbar .control.selected select,
.toolbar .control.selected input {
    background-color: var(--toolbar-button-color-selected);
}

.toolbar > input[type="color"] {
    border: 1px solid var(--toolbar-button-color);
    border-radius: 4px;
    min-width: 6rem;
    margin-bottom: 4px;    
}

.toolbar .checkbox {
    min-width: 6rem;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    color: var(--toolbar-button-color);
}

.toolbar > button.selected {
    background-color: var(--toolbar-button-color-selected);
}

